<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel Planner</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class ="headline">Travel Planner</div>
            </header>
            <img id="locPic" src="/images/placeholder.jpg">
            <div class ="tripFlex">
                <div>
                    <label for="loc">My trip to: </label>
                    <input type="text" id="loc" placeholder="Enter Location Here">
                </div>
                <div>
                    <label for="date">Departing: </label>
                    <input type="date" id="date" placeholder="Enter Date Here">
                </div>
            </div>
            <div class="buttons">
                <button id='save'>Save Trip</button>
                <button id='remove'>Remove Trip</button>
            </div>
            <div class="projections">
                <div id="locProj"></div>
                <div id="weatherProj"></div>
            </div>
            <footer>
                <a href="https://darksky.net/poweredby/" class="credits">Powered by Dark Sky</a>
            </footer>
        </div>
    </body>
</html>