$font: Helvetica, sans-serif;
$color: #ffdada;

body{
    font: 100% $font;
    margin: 0px
}
.container{
    background-color: $color;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "image"
        "trip"
        "buttons"
        "projections"
        "footer";
}
header{
    font: 150% $font;
    grid-area: header;
    padding: 25px 0px 10px 10px;
    background-color: white;
}
footer{
    padding-top: 10px;
    grid-area: footer;
    background-color: white;
}
img{
    width: 100vw;
    grid-area: image;
}
.tripFlex{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5vw;
    grid-area: trip;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin: 10px;
    grid-area: buttons;
    margin-left: 5vw;
    button{
        margin: 0px 10px 0px 0px;
    }
}
.projections{
    margin-left: 5vw;
    grid-area: "projections"
}

@media only screen and (min-width: 600px) {
    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 40vw 60vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "image trip"
            "image buttons"
            "image projections"
            "footer footer";
    }
    img{
        width: calc(40vw - 20px);
        grid-area: image;
        margin: 20px 10px 20px 10px;
      }
}